body {
  background-image: none;
  background-color: rgba(256, 256, 256);
  background-size: 100%;
}
main {
  margin-top: 0px;
  margin-left: 0px;
  color: #fff;
  width: 100%;
}
hr {
  border: 0px;
}

header h1 {
  background: /* top, transparent black */ linear-gradient(
      rgba(55, 55, 55, 0.1),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/fruitandveggie.jpg");
  /*background-image: url("./images/fruitandveggie.jpg");*/
  padding-left: 0px;
  background-size: 100%;
  margin: 5px 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 65px;
  color: rgba(256, 256, 256, 1);

  border-radius: 10px;
}
.center {
  text-align: center;
}
.fruits {
  background-image: linear-gradient(rgba(5, 5, 5, 0.1), rgba(5, 5, 5, 0.1)),
    url("./images/fruits.jpg");
  background-color: none;
  background-size: cover;
  margin: 5px;
  border-radius: 10px;
}

header h2 {
  margin: auto;
  padding-left: 4px;
  padding-right: 4px;
  border-bottom: 0px solid rgb(252, 252, 252);
  background: white;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: black;
  text-decoration: none underline;
  font-weight: lighter;
  border-radius: 10px;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 5px 20px;
  justify-content: space-between;
  width: 100%;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  text-align: center;
}
header nav ul li:last-child a {
  /* Removes the margin to the right of the last anchor tag 
     so that the nav appears centered. */
  margin-right: 0;
}

@media all and (min-width: 800px) {
  /*header large screen*/
  header {
    /* Changes the default setting from `block` to `flex`. */
    display: flex;
    /* Pushes the items (the title and nav) to the far sides of the 
       browser with space between them. */

    justify-content: space-between;

    flex-flow: row;
    /* Adds 0 pixels padding top and bottom, and 30 pixels padding 
       left and right. */
    background-color: rgba(0, 0, 0, 0.4);
  }
  header h1 {
    background-image: none;
    align-self: center;
    padding-top: 0;
    flex: 0 50%;
  }

  header h2 {
    flex: 0 20%;
    align-self: center;
    background: none;
    border-radius: 0;
    color: white;
    text-decoration: none;
  }

  header nav {
    /*
      Pushes the navigation container down by 8 pixels to make it
      present a little better visually within the space.
    */
    flex: 0 30%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  header nav ul li {
    text-align: right;
  }
  header nav ul li a {
    flex: 0;
    margin-top: 5px;
    margin-right: 0px;
    padding: 5px;
    color: white;
    text-decoration: transparent;
  }
}
main div {
  margin: auto;
}
main h3 {
  margin: 18px 18px;
  border-bottom: 0px solid #eee;
  font-family: "Roboto";
  font-size: 18px;
  color: #fff;
}

main p {
  font-family: "Roboto", sans-serif;
  margin: auto;
  color: #fff;
  width: 80%;
  padding-bottom: 5px;
}
ul {
  margin: 18px 18px;
  width: 80%;
}
ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  text-align: left;
  color: #fff;
}

footer {
  position: relative;
  bottom: 0;
  width: 80%;
  height: 60px; /* Height of the footer */
}
footer h3 {
  border-bottom: 0px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.25);
}
div a {
  border-bottom: 0px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: rgba(256, 256, 256, 0.85);
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.item {
  flex: 1;
  margin: 10px;
  padding: 10px;
}

iframe {
  margin: 10px;
}
@media all and (min-width: 800px) {
  body {
    background-image: url("./images/fruitandveggie.jpg");
    background-size: cover;
    width: 80%;
    margin: auto;
  }

  main h3 {
    text-align: center;
  }
  li {
    text-decoration: underline;
    text-align: center;
  }
  main {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
  }
  hr {
    border: 1px solid white;
  }
  .fruits {
    background-image: none;
  }
  .item {
    flex-grow: 0 32%;
  }
  .item-double {
    flex: 0 80%;
  }
  .group {
    width: 60%;
    align-content: stretch;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.group-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.item-form {
  flex: 0 100%;
  margin: auto 1px;
  padding: 10px;
}

.black-text {
  color: black;
}
form {
  margin: auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
form input,
form textarea,
form label {
  width: 100%;
  margin-bottom: 1px;
  font-family: "Roboto", sans-serif;
}

form textarea {
  height: 160px;
  font-family: "Roboto", sans-serif;
  color: black;
}
form button {
  margin-left: 20px;
  background-color: white;
  border-radius: 10px;
}
@media all and (min-width: 800px) {
  form label {
    color: white;
  }
  .black-text {
    color: white;
  }
}
