body {
  background-image: none;
  background-color: rgba(256, 256, 256);
  background-size: 100%;
}
main {
  margin-top: 0px;
  margin-left: 0px;
  color: #fff;
  width: 100%;
}
hr {
  border: 0px;
}

main h1 {
  background: /* top, transparent black */ linear-gradient(
      rgba(55, 55, 55, 0.1),
      rgba(55, 55, 55, 0.5)
    ),
    url("./images/fruitandveggie.jpg");
  /*background-image: url("./images/fruitandveggie.jpg");*/
  padding-left: 0px;
  background-size: 100%;
  margin: 5px 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 65px;
  color: rgba(256, 256, 256, 0.8);

  border-radius: 10px;
}
.center {
  text-align: center;
}
.fruits {
  background-image: url("./images/fruits.jpg");
  background-color: none;
  background-size: 100%;
  margin: 5px;
  border-radius: 10px;
}

main h2 {
  margin: 0 5px;
  padding: 5px 0 5px;
  border-bottom: 1px solid rgb(252, 252, 252);
  background: white;
  font-family: "Roboto", serif;
  font-size: 20px;
  color: black;
  border-radius: 10px;
}
main h3 {
  margin: 18px 0 12px 10px;
  border-bottom: 1px solid #eee;
  font-family: "Roboto";
  font-size: 18px;
  color: #fff;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  color: #fff;
}

ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  color: #fff;
}

footer {
  position: relative;
  bottom: 0;
  width: 70%;
  height: 60px; /* Height of the footer */
}
footer h3 {
  border-bottom: 0px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.25);
}
div a {
  border-bottom: 0px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: rgba(256, 256, 256, 0.85);
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.item {
  flex: 1;
  margin: 10px;
  padding: 10px;
}

.item-double {
  flex: 3;
  margin: 10px;
  padding: 10px;
}

iframe {
  margin: 10px;
}
@media all and (min-width: 800px) {
  body {
    background-image: url("./images/fruitandveggie.jpg");
    background-size: 100%;
    width: 80%;
    margin: auto;
  }
  main h1 {
    background-image: none;
    margin: auto;
    padding-top: 10px;
  }
  main h2 {
    background: none;
    border-radius: 0;
    color: white;
  }
  h3 {
    text-align: center;
  }
  li {
    text-decoration: underline;
    text-align: center;
  }
  main {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
  }
  hr {
    border: 1px solid white;
  }
  .fruits {
    background-image: none;
  }
  .item {
    flex-grow: 0;
  }
  .item-double {
    flex: 0 80%;
  }
  .group {
    width: 60%;
    align-content: stretch;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.group-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 100px;
}
.item-form {
  flex: 0 100%;
  margin: auto;
  padding: 10px;
}

.black-text {
  color: black;
}
form {
  margin: auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
form input,
form textarea,
form label {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

form textarea {
  height: 160px;
  font-family: "Roboto", sans-serif;
  color: black;
}
form button {
  margin-left: 20px;
  background-color: white;
}
@media all and (min-width: 800px) {
  form label {
    color: white;
  }
  .black-text {
    color: white;
  }
}
